services:
  web:
    build: .
    container_name: spring
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
    restart: always
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    ports:
      - "3306:3306"
    volumes:
      - my-db-volume:/var/lib/mysql
    networks:
      - app-network
    
volumes:
  my-db-volume:
