spring:
  jackson:
    serialization:
      indent_output: true
  # 1. Database (MySQL)
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  # 2. JPA (Hibernate)
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

# 3. Logging
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE

# 4. Server
server:
  port: ${SERVER_PORT}
